manifest {
  homePage = 'https://gitlab.epfl.ch/abadreddine/conterminator'
  description = 'Conterminator: a pipeline for terminating contamination'
  mainScript = 'main.nf'
  version = 'v1.1'
  author = 'Alaa Badreddine'
}


profiles {
  local {
    process.executor = 'local'
  }
  cluster {
    process.executor = 'slurm'
  }
  singularity {
    singularity.enabled = false
    singularity.libraryDir = "conterminator.sif"
    // singularity.runOptions = ""    // Specify extra command line options supported by singularity exec
  }
}
